<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="KeystrokeAPI" version="1.0.6.5" targetFramework="net45" />
  <package id="LibUsbDotNet" version="2.2.8" targetFramework="net45" />
  <package id="LumiSoft.Net" version="2.0.4492.11923" targetFramework="net45" />
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.102.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.102.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net45" />
</packages>